Should we merge RFC4691 into RFC4052bis?

RFC4691 (https://datatracker.ietf.org/doc/html/rfc4691) seems to actually duplicate quite some thing from RFC4052, there I think it would be more beneficial to merge them together. Especially section 3.4 and 3.5 of RFC4691 should be merged with section 3 and 4 of RFC4052, respectively. Also we chould add a more clear statement on " Speaking for the IETF" Section 3.1.1 of RFC4691 to RFC4052bis. But not sure if we need much from section 3.2 and 3.3 though.

related to #9 as well 